.brands {
  display: flex;
  flex-wrap: wrap;
  max-width: 100rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  gap: 4rem;
}

@media (max-width: 767px) {
  .brands {
    gap: 2rem;
  }
}
