.possibilites {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.possibilites__image {
  max-width: 40%;
}
.possibilites__image img {
  width: 100%;
}
.possibilites__content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text__cyan {
  color: #71e5ff;
}
@media (max-width: 767px) {
  .possibilites {
    flex-direction: column;
    align-items: center;
  }
  .possibilites__image {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .possibilites__content {
    max-width: 100%;
  }
}
